* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: main;
    src: url(../fontes/Oi-Regular.ttf);
}

@font-face {
    font-family: main1;
    src: url(../fontes/ArchivoBlack-Regular.ttf);
}

@font-face {
    font-family: sobre;
    src: url(../fontes/Oswald-Bold.ttf);
}

/*----------------Seccção 1-------------------*/


#home {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 11, 21, 0), rgb(0, 11, 21)), url(../imagens/pexels-atahandemir-28779690.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.custom-shape-divider-bottom-1765454025 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1765454025 svg {
    position: relative;
    display: block;
    width: calc(134% + 1.3px);
    height: 70px;
}

.custom-shape-divider-bottom-1765454025 .shape-fill {
    fill: #FFFFFF;
}

/*----------------Nav-------------------*/
#logo a {
    color: #fff;
    font-size: 25px;
    font-weight: bolder;
    font-family: "Archivo Black", sans-serif;
    font-style: normal;
    transition: 0.3s;
    font-family: main1;
}

#navbar a {
    color: #fff;
    font-size: 19px;
    transition: 0.3s;
    border-radius: 10px;
    font-family: main1;
}

#logo a:hover {
    color: rgb(78, 181, 255);

}

#navbar a:hover {
    box-shadow: inset 20px 1px 20px rgba(78, 181, 255, 0.436);
}

/*----------------menu mobile-------------------*/
#menumobile {
    display: none;
}

#menumobile #links {
    display: none;
    width: 300px;
    height: max-content;
    padding: 10px;
    background-color: rgba(20, 92, 112, 0.329);
    border-radius: 10px;
    position: relative;
    top: 40px;
    right: 30px;
}

#menumobile a {
    color: #fff;
    padding: 5px;
    margin: 3px;
    width: 100%;
    border-radius: 10px;
    transition: 0.3s;
    font-family: main1;
}

#menumobile #closed {
    color: #fff;
    padding: 5px;
    margin: 3px;
    width: 100%;
    border-radius: 10px;
    transition: 0.3s;
}

#menumobile a:hover {
    background-color: rgb(78, 181, 255);
    box-shadow: 0px 0px 10px rgba(78, 181, 255, 0.436);
}

#menumobile #closed:hover {
    background-color: rgb(255, 57, 57);
    box-shadow: 0px 0px 10px rgba(255, 71, 71, 0.432);
}

#hamb_btn {
    color: #fff;
    position: relative;
    right: 0px;
    top: 0;
    font-size: 30px;
    transition: 0.3s;
    cursor: pointer;
}

/*----------------main-------------------*/
#home main {
    width: 100%;
    height: 75vh;
}

#home main div img {
    width: 500px;
}

#home main .design_video {
    width: 300px;
    height: max-content;
}

#home main .design_video h1 {
    color: rgb(78, 181, 255);
    font-family: main;
}

#home main .design_video p {
    color: rgb(223, 242, 255);
    font-family: main1;
    text-align: start;
    text-indent: 5px;
    font-style: bold;
}

#home main div a {
    color: rgb(223, 242, 255);
    padding: 5px;
    background-color: rgba(9, 33, 54, 0.623);
    border-radius: 10px;
    transition: 0.3s;
}

#home main div a:hover {
    color: rgb(223, 242, 255);
    background-color: rgb(78, 181, 255);
    transform: scale(2);
}

#home main .main_mobile {
    display: none;
}

#home main .main_mobile h1 {
    color: rgb(78, 181, 255);
    font-family: main;
}

#home main .main_mobile p {
    color: rgb(223, 242, 255);
    font-family: main1;
    text-align: start;
    text-indent: 5px;
    font-style: bold;
}

#home main .main_mobile button {
    color: rgb(223, 242, 255);
    padding: 5px;
    background-color: rgba(9, 33, 54, 0.623);
    border-radius: 10px;
    transition: 0.3s;
}

#home main .main_mobile button:hover {
    color: rgb(223, 242, 255);
    background-color: rgb(78, 181, 255);
}

/*----------------section 2-------------------*/
.arts {
    width: 100%;
    height: 45vh;
    padding: 10px;
}

.covers {
    height: max-content;
    position: relative;
    height: max-content;
    position: relative;
    top: 360px;
}

.firstCover {
    width: 350px;
    height: 350px;
    background-image: url(../imagens/design_video/Dark\ Killer-\ Joker.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -70px center;
    clip-path: polygon(0 0, 25% 0, 50% 100%, 0 100%);
    transition: 0.3s;
    position: absolute;
    bottom: 0;
    left: 13px;
}

.otherCovers1,
.otherCovers2,
.otherCovers3,
.otherCovers4,
.otherCovers5 {
    width: 350px;
    height: 350px;
    background-image: url(../imagens/design_video/Dark\ Killer-\ Matar\ Ou\ Morrer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 0;
    left: 15px;
    clip-path: polygon(25% 0, 75% 0, 100% 100%, 50% 100%);
    transition: 0.3s;
}

.otherCovers2 {
    background-image: url(../imagens/design_video/RONALDINHO.png);
    background-position: 30px center;
    left: 193px;
}

.otherCovers3 {
    background-image: url(../imagens/design_video/BUMPOW.jpg);
    background-position: 30px center;
    left: 370px;
}

.otherCovers4 {
    background-image: url(../imagens/design_video/Dark\ Killer-\ Perto\ Do\ Fim.png);
    background-position: 30px center;
    left: 548px;
}

.firstCover:hover,
.otherCovers1:hover,
.otherCovers2:hover,
.otherCovers3:hover,
.otherCovers4:hover,
.otherCovers5:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    z-index: 1;
    border-radius: 5px;
    background-position: center;
}

.coverText {
    position: absolute;
    left: 950px;
    bottom: 100px;
}

.coverText h1 {
    color: rgb(78, 181, 255);
    font-family: main;
    font-size: 50px;
}

.coverText p {
    color: #212121;
    font-size: 19px;
}

.coverText a {
    color: #FFFFFF;
    background-color: rgb(78, 181, 255);
    padding: 8px;
    border-radius: 3px;
    transition: 0.3s;
}

.coverText a:hover {
    background-color: rgb(39, 89, 125);
}


/*----------------section 3-------------------*/
@media screen and (max-width: 1610px) {
    .otherCovers4 {
        display: none;

    }

    .coverText {
        left: 800px;
        bottom: 80px;
    }
}

@media screen and (max-width: 1381px) {
    .otherCovers3 {
        display: none;

    }

    .coverText {
        left: 580px;
        bottom: 70px;
    }
}

@media screen and (max-width: 1154px) {
    .coverText p {
        font-size: 15px;
    }

    .coverText h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 950px) {
    #home main div img {
        width: 390px;
    }

    .otherCovers1,
    .otherCovers2,
    .otherCovers3,
    .otherCovers4,
    .firstCover {
        width: 330px;
        height: 330px;
        display: block;
    }

    .otherCovers2 {
        left: 183px;
    }

    .otherCovers3 {
        left: 350px;
    }

    .otherCovers4 {
        left: 518px;
    }

    .coverText {
        left: 50px;
        top: 0px;
    }
}

@media screen and (max-width: 886px) {
    .otherCovers4 {
        display: none;
    }

}

@media screen and (max-width: 717px) {

    .otherCovers3 {
        display: none;
    }
}


@media screen and (max-width: 550px) {
    .otherCovers2 {
        display: none;
    }
}

@media screen and (max-width: 808px) {
    #navbar {
        display: none;
    }

    #menumobile {
        display: block;
        position: absolute;
        right: 0;
    }

    #logo a {
        position: absolute;
        left: 0;
        top: 0;
    }

    #hamb_btn {
        color: #fff;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 30px;
        transition: 0.3s;
        cursor: pointer;
    }

    #hamb_btn:hover {
        color: #83ff7a;
    }

    header {
        display: flex;
        flex-direction: row;
        align-items: none;
    }

    #home main .design_video,
    #home main div a {
        display: none;
    }

    #home main .main_mobile {
        display: block;
    }

    #home main {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 20px;
    }

    #sobre {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    #sobre .inf {
        width: 80%;
        text-align: center;
    }

}

@media screen and (max-width: 570px) {
    .art {
        text-align: center;
    }

    .otherCovers2 {
        background-position: 30px center;
        left: 183px;
        clip-path: polygon(25% 0, 100% 0, 100% 100%, 50% 100%);
    }

    .arts {
        text-align: center;
    }
}

@media screen and (max-width: 350px) {
    #menumobile #links {
        position: relative;
        right: 10px;
    }

    .otherCovers1 {
        display: none;
    }

    .firstCover {
        background-position: center;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}
