*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: main;
    src: url(../fontes/Oi-Regular.ttf);
}
@font-face {
    font-family: main1;
    src: url(../fontes/ArchivoBlack-Regular.ttf);
}
@font-face {
    font-family: sobre ;
    src: url(../fontes/Oswald-Bold.ttf);
}

/*----------------Seccção 1-------------------*/
#home{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 11, 21, 0), rgb(0, 11, 21)), url(../imagens/pexels-atahandemir-28779690.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*----------------Nav-------------------*/
#logo a{
    color: #fff;
    font-size: 25px;
    font-weight: bolder;
    font-family: "Archivo Black", sans-serif;
    font-style: normal;
    transition: 0.3s;
    font-family: main1;
}
#navbar a{
    color: #fff;
    font-size: 19px;
    transition: 0.3s;
    border-radius: 10px;
    font-family: main1;
}
#logo a:hover{
    color: rgb(78, 181, 255);
    
}
#navbar a:hover{
    box-shadow: inset 20px 1px 20px rgba(78, 181, 255, 0.436);
}
/*----------------menu mobile-------------------*/
#menumobile{
    display: none;
}
#menumobile #links{
    display: none;
    width: 300px;
    height: max-content;
    padding: 10px;
    background-color: rgba(20, 92, 112, 0.329);
    border-radius: 10px;
    position: relative;
    top: 40px;
    right: 30px;
}
#menumobile a{
    color: #fff;
    padding: 5px;
    margin: 3px;
    width: 100%;
    border-radius: 10px;
    transition: 0.3s;
    font-family: main1;
}
#menumobile #closed{
    color: #fff;
    padding: 5px;
    margin: 3px;
    width: 100%;
    border-radius: 10px;
    transition: 0.3s;
}
#menumobile a:hover{
    background-color: rgb(78, 181, 255);
    box-shadow: 0px 0px 10px rgba(78, 181, 255, 0.436);
}
#menumobile #closed:hover{
    background-color: rgb(255, 57, 57);
    box-shadow: 0px 0px 10px rgba(255, 71, 71, 0.432);
}
#hamb_btn{
    color: #fff;
    position: relative;
    right: 0px;
    top: 0;
    font-size: 30px;
    transition: 0.3s;
    cursor: pointer;
}
/*----------------main-------------------*/
#home main{
    width: 100%;
    height: 75vh;
}
#home main div img{
    width: 500px;
}
#home main .design_video{
    width: 300px;
    height: max-content;
}
#home main .design_video h1{
    color: rgb(78, 181, 255);
    font-family: main;
}
#home main .design_video p{
    color: rgb(223, 242, 255);
    font-family: main1;
    text-align: start;
    text-indent: 5px;
    font-style: bold;
}
#home main div a{
    color: rgb(223, 242, 255);
    padding: 5px;
    background-color: rgba(9, 33, 54, 0.623);
    border-radius: 10px;
    transition: 0.3s;
}
#home main div a:hover{
    color: rgb(223, 242, 255);
    background-color: rgb(78, 181, 255) ;
    transform: scale(2);
}
#home main .main_mobile{
    display: none;
}
#home main .main_mobile h1{
    color: rgb(78, 181, 255);
    font-family: main;
}
#home main .main_mobile p{
     color: rgb(223, 242, 255);
    font-family: main1;
    text-align: start;
    text-indent: 5px;
    font-style: bold;
}
#home main .main_mobile button{
    color: rgb(223, 242, 255);
    padding: 5px;
    background-color: rgba(9, 33, 54, 0.623);
    border-radius: 10px;
    transition: 0.3s;
}
#home main .main_mobile button:hover{
    color: rgb(223, 242, 255);
    background-color: rgb(78, 181, 255) ;
}
/*----------------section 2-------------------*
#sobre{
    width: 100%;
    height: max-content;
    padding: 10px;
    background-color: rgb(0, 11, 21) ;
}
#sobre .inf{
    width: 40%;
}
#sobre .inf div{
    width: max-content;
    height: max-content;
    padding: 10px;
    background-color: #007ae8;
    border-radius: 10px;
    transition: 0.4s;
}
#sobre .inf div:hover, #sobre .inf .inf_sobre:hover{
    border: 1px solid #cfecffaa ;
    box-shadow: 0px 0px 10px #cfecffaa;
    transform: scale(1.1);
}
#sobre .inf div h1{
    font-size: 25px;
    font-family: sobre;
    color: #dff2ff ;
}
#sobre .inf div p{
    font-family: main1;
    color: #dff2ff ;
    text-align: justify;
    text-indent: 20px;
}
#sobre .inf  a{
    font-family: main1;
    color: #dff2ff ;
    background-color: #007ae8;
    border-radius: 10px;
    transition: 0.3s;
    margin: 8px;
}
#sobre .inf a:hover{
    background-color: #0059a7;
}
#sobre .inf .inf_sobre{
    width: 100%;
    height: max-content;
    padding: 15px;
    background-color: #007ae8;
    border-radius: 10px;
    transition: 0.4s;
}
#sobre div img{
    width: 400px;
}
/*----------------section 3-------------------*/
 @media screen and (max-width: 950px) {
    #home main div img{
    width: 390px;
}
}
@media screen and (max-width: 808px) {
    #navbar{
    display: none;
}
    #menumobile{
    display: block;
    position: absolute;
    right: 0;
}
    #logo a{
    position: absolute;
    left: 0;
    top: 0;
}
    #hamb_btn{
        color: #fff;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 30px;
        transition: 0.3s;
        cursor: pointer;
    }
        #hamb_btn:hover{
        color: #83ff7a;
    }
    header{
        display: flex;
        flex-direction: row;
        align-items: none;
    }
    #home main .design_video, #home main div a {
        display: none;
    }
    #home main .main_mobile{
        display: block;
    }
    #home main{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 20px;
    }
    #sobre{
    display: flex;
        flex-direction: column-reverse;
        text-align: center;
}
#sobre .inf{
    width: 80%;
    text-align: center;
}

 }













 @media screen and (max-width: 350px) {
    #menumobile #links{
    position: relative;
    right: 10px;
}
}